{% extends "layouts/base.twig" %}

{% block body_class %}hold-transition login-page{% endblock %}

{% block body %}
    {% include 'layouts/messages/box.twig' %}

    {% block before_content %}{% endblock %}

<div class="box box-center-large {% block box_class %}{% endblock %}">
    <div class="box-header with-border text-center">
        {% block box_header %}{% endblock %}
    </div>

    <div class="box-body">
        {% block content %}{% endblock %}
    </div>
</div>

    {% block after_content %}{% endblock %}
{% endblock %}
