public-hoist-pattern[]=*@material*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=autoprefixer
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*vite*
public-hoist-pattern[]=workbox-window
