body {
    background-color: white;
    color: black;
}

p {
    padding: 0px;
    margin: 0px;
}

.text-bold,
.small-bold {
    font-weight: bold;
}

table {
    width: 100%;
    overflow: wrap
}

table td,
table th {
    vertical-align: top;
    padding: 4px;
}

table.table-striped tbody tr:nth-child(2n) td {
    background-color: #eee;
}

table.table-striped tbody tr:nth-child(2n+1) td {
    background-color: #fff;
}

table.table-bordered th {
    background: #ddd;
}

table.table-bordered thead tr:nth-child(2) th {
    background: #eee;
}

small,
.small,
.small-bold,
table.table-bordered thead th,
table#contents thead th {
    font-size: 70%;
}

table.table-normal,
table.table-normal td,
table.table-normal th {
    border: 0;
}

table.border-bottom,
table.border-bottom td,
table.border-bottom th {
    border: 0;
    border-bottom: 1px solid #aaa;
}

table.table-bordered,
table.table-bordered td,
table.table-bordered th {
    border: 1px solid #aaa;
}

table thead th,
table.vertical-middle td,
table.vertical-middle th {
    vertical-align: middle;
}

table#contents tbody td {
    border-top: 0;
    border-bottom: 0;
}

.row,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-lg-12 {
    margin: 0px !important;
    padding: 0px !important;
}

.border-left {
    border-left: 1px solid #aaa;
}

.border-right {
    border-right: 1px solid #aaa;
}

.border-top {
    border-top: 1px solid #aaa;
}

.border-bottom {
    border-bottom: 1px solid #aaa;
}

.border-full {
    border: 1px solid #aaa;
}

.cell-padded {
    padding: 4px;
}
