// Colori
$primary: #3f3f3f;
$secondary: #e8a80f;

// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@400;700&display=swap');

$headings_font: 'Montserrat, sans-serif';
$body_font: 'Nunito, sans-serif';
