@use 'variables';

@import 'modern-normalize/modern-normalize.css';
@import 'material';

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--mdc-theme-text-primary-on-background, black);
    font-family: #{variables.$headings_font};
}

p,
small {
    color: var(--mdc-theme-text-primary-on-background, black);
    font-family: #{variables.$body_font};
}

body {
    background-color: var(--mdc-theme-background, #fff);
}

hr {
    border-color: rgba(0, 0, 0, 0.12);
    margin: 16px 0;
}

main {
    margin-left: 16px;
}

.mdi {
    font-size: 24px;
    line-height: 1;
}

.center {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.vcenter {
    position: absolute;
    top: 50%;
    margin: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo-bg-sticky {
    position: fixed;
    z-index: 1;
    top: 60%;
    right: -15%;
    width: 500px;
    opacity: 0.1;
}

.record-dialog {
    --mdc-layout-grid-margin-desktop: 0;
}

/* ----------------------------
    MWC styles
 ------------------------------ */
mwc-fab#contrast-switcher {
    &.contrast-light {
        --mdc-theme-secondary: black;
        --mdc-theme-on-secondary: white;
    }

    &.contrast-dark {
        --mdc-theme-secondary: white;
        --mdc-theme-on-secondary: black;
    }
}

/* ----------------------------
    Footer
--------------------------- */
footer {
    position: fixed;
    z-index: 6;
    bottom: 0;
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: var(--mdc-theme-outline-color) solid 1px;
    background-color: var(--mdc-theme-background, white);
    color: var(--mdc-theme-text-primary-on-background, #000);

    --mdc-theme-primary: #{variables.$primary};
}

.left-footer {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 16px;

    * {
        display: inline;
        vertical-align: middle;
    }
}

.right-footer {
    position: relative;
    padding-right: 16px;
}
