@use "variables";
@use "material";
@use "modern-normalize/modern-normalize.css";
@use "include-media/dist/include-media" as media;

@import "theme/theme";

body {
    margin: 0 !important;
}

[slot="app-content"] {
    display: grid;
    grid-template-rows: 1fr auto;
}

.center-logo {
    display: block;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
}

.ext-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    height: 100%;
    padding: 16px;
}

.ext-card {
    --md-card-padding: 16px;

    @include media.media(">desktop") {
        max-width: 55vw;
    }

    margin-top: 48px;
}

.setup-buttons, .login-buttons {

    @include media.media("<=tablet") {
        &:has(:nth-child(3)) {
            flex-flow: column wrap;
            gap: 16px;

            & > * {
                flex-grow: 1;
            }
        }
    }

    display: flex;
    justify-content: space-around;
    margin: 16px 0;
}

.flag {
    width: 32px;
}

.user-image {
    width: 150px;
    border-radius: 50%;

    &md-icon {
        --_icon-size: 100px;
    }
}

.sticky-bottom {
    position: fixed;
    right: 30px;
    bottom: 96px;
}

/* ----------------------------
    Footer
--------------------------- */
footer {
    display: flex;

    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    color: var(--md-sys-color-on-surface, #000);

    background-color: var(--md-sys-color-surface, white);

    > :first-child {
        padding-left: 16px;
    }

    > :last-child {
        flex: 1;
        padding-right: 16px;
        text-align: right;
    }
}
