@use "variables";
@use "material";
@use "modern-normalize/modern-normalize.css";
@use "include-media/dist/include-media" as media;

@import "theme/theme";

main {
    flex: 1 0;
}

top-app-bar main {
    margin-right: 16px;
}

body {
    margin: 0 !important;
}

#app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

.center-block {
    display: block;
    margin: 0 auto;
}

.center-logo {
    @extend .center-block;

    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
}

.ext-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.ext-card {
    --md-card-padding: 16px;
    margin-top: 48px;

    @include media.media(">desktop") {
        max-width: 55vw;
    }
}

.setup-buttons, .login-buttons {
    display: flex;
    justify-content: space-around;
    margin: 16px 0;

    @include media.media("<=tablet") {
        &:has(:nth-child(3)) {
            flex-direction: column;
            flex-wrap: wrap;
            gap: 16px;

            & > * {
                flex-grow: 1;
            }
        }
    }
}

.flag {
    width: 32px;
}

.stretch {
    //noinspection CssInvalidPropertyValue
    width: stretch;
}

.logo-bg-sticky {
    position: fixed;
    z-index: 1;
    top: 60%;
    right: -15%;
    width: 500px;
    opacity: 0.1;
}

.record-dialog {
    --mdc-layout-grid-margin-desktop: 0;
}

.user-image {
    width: 150px;
    border-radius: 50%;

    &md-icon {
        --_icon-size: 100px;
    }
}

/* ----------------------------
    Footer
--------------------------- */
footer {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--md-sys-color-surface, white);
    color: var(--md-sys-color-on-surface, #000);

    > :first-child {
        flex: 1;
        padding-left: 16px;
    }

    > :last-child {
        padding-right: 16px;
        text-align: right;
    }

    //--mdc-theme-primary: #{variables.$primary};
}
