
echo '
<p><strong>'.tr('Aggiornamento completato').'</strong> <i class="fa fa-smile-o"></i></p>
<script>
    setPercent(100);
</script>';

// Istruzioni per la prima installazione
if ($_GET['firstuse'] == 'true') {
echo '
<p class="text-danger">'.tr("E' fortemente consigliato rimuovere i permessi di scrittura dal file _FILE_", [
    '_FILE_' => '<b>config.inc.php</b>',
    ]).'.</p>';
}

echo '
<a class="btn btn-success btn-block" href="'.ROOTDIR.'">
    <i class="fa fa-check"></i> '.tr('Continua').'
</a>';
