<style>
<!--
.table_values td{
	border: 1px solid #888;
	padding: 4px;
	white-space: normal;
}

.table_values th{
	background: #abbfcb;
	padding: 4px;
}

.first_cell{
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

.table_cell{
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.full_cell1{
	border: 1px solid #aaa;
}

.full_cell{
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.b-right{
	border-right: 1px solid #aaa;
}

.b-bottom{
	border-bottom: 1px solid #aaa;
}

.cell-padded{
	padding: 4px;
}
-->
</style>

<page backcolor="#ffffff" backtop="40mm" backbottom="5mm" backleft="0mm" backright="0mm" footer="" style="font-size: $font_size$">
	$body$
</page>
