<page_header>
</page_header>


<!-- Footer -->
<page_footer>
	<table>
	<tr><td style="width:90mm; border:1px solid #000;">
		<b>CONTROLLO EFFETTUATO DA:</b><br/>
		<div style="padding:10px;">
			$f_ragionesociale$
			$f_indirizzo$
			$f_citta_full$
			$f_piva$
			$f_codicefiscale$
			$f_capsoc$
			$f_telefono$
			$f_sitoweb$
			$f_email$
		</div>
	</td>
	
	<td align="right">
		<table>
		<tr><td align="right">
			Firma Tecnico<br/><br/><br/>
		</td>
		<td>
			___________________________________<br/><br/><br/>
		</td></tr>
		
		<tr><td align="right">
			Firma Cliente<br/><br/><br/>
		</td>
		<td>
			___________________________________<br/><br/><br/>
		</td></tr>
		
		<tr><td align="right">
			Firma Amministratore
		</td>
		<td>
			___________________________________
		</td></tr>
		</table>
	</td></tr>
	</table>
</page_footer>
