<page_header>
	<table $body_table_params$>
	<!-- Intestazione fornitore -->
	<tr><td style="width:110mm; font-size:8pt; color:#555;">
		<img src="$logo$" alt="Logo" border="0" /><br/>
		$f_ragionesociale$
		$f_indirizzo$
		$f_citta_full$
		$f_piva$
		$f_codicefiscale$
		$f_capsoc$
		$f_telefono$
		$f_sitoweb$
		$f_email$
	</td>

	<!-- Intestazione cliente -->
	<td style="width:100mm; font-size:10pt">
		Spett.le $c_ragionesociale$
		$c_indirizzo$
		$c_citta$
		$c_piva$
	</td></tr>

	</table>
	<br/>
</page_header>
