@media (prefers-color-scheme: light) {
    :root {
        --md-sys-color-background: #fdf8fd;
        --md-sys-color-on-background: #1c1b1f;
        --md-sys-color-surface: #fdf8fd;
        --md-sys-color-surface-dim: #ddd9dd;
        --md-sys-color-surface-bright: #fdf8fd;
        --md-sys-color-surface-container-lowest: #ffffff;
        --md-sys-color-surface-container-low: #f7f2f7;
        --md-sys-color-surface-container: #f1ecf1;
        --md-sys-color-surface-container-high: #ebe7ec;
        --md-sys-color-surface-container-highest: #e5e1e6;
        --md-sys-color-on-surface: #1c1b1f;
        --md-sys-color-surface-variant: #f0e0d0;
        --md-sys-color-on-surface-variant: #4f4539;
        --md-sys-color-inverse-surface: #313033;
        --md-sys-color-inverse-on-surface: #f4eff4;
        --md-sys-color-outline: #7f7365;
        --md-sys-color-outline-variant: #d3c4b4;
        --md-sys-color-shadow: #000000;
        --md-sys-color-scrim: #000000;
        --md-sys-color-surface-tint: #835500;
        --md-sys-color-primary: #613d00;
        --md-sys-color-on-primary: #ffd8a7;
        --md-sys-color-primary-container: #905e00;
        --md-sys-color-on-primary-container: #ffe5c6;
        --md-sys-color-inverse-primary: #ffb954;
        --md-sys-color-inverse-on-primary: #452b00;
        --md-sys-color-secondary: #7c5800;
        --md-sys-color-on-secondary: #ffffff;
        --md-sys-color-secondary-container: #ffc452;
        --md-sys-color-on-secondary-container: #735100;
        --md-sys-color-tertiary: #6c3600;
        --md-sys-color-on-tertiary: #ffd6ba;
        --md-sys-color-tertiary-container: #a15400;
        --md-sys-color-on-tertiary-container: #ffe3d2;
        --md-sys-color-error: #ba1a1a;
        --md-sys-color-on-error: #ffffff;
        --md-sys-color-error-container: #ffdad6;
        --md-sys-color-on-error-container: #410002;
    }
}
