.display-large {
    font-family: var(--md-sys-typescale-display-large-font-family-name);
    font-size: var(--md-sys-typescale-display-large-font-size);
    font-style: var(--md-sys-typescale-display-large-font-family-style);
    font-weight: var(--md-sys-typescale-display-large-font-weight);
    letter-spacing: var(--md-sys-typescale-display-large-tracking);
    line-height: var(--md-sys-typescale-display-large-height);
    text-decoration: var(--md-sys-typescale-display-large-text-decoration);
    text-transform: var(--md-sys-typescale-display-large-text-transform);
}

.display-medium {
    font-family: var(--md-sys-typescale-display-medium-font-family-name);
    font-size: var(--md-sys-typescale-display-medium-font-size);
    font-style: var(--md-sys-typescale-display-medium-font-family-style);
    font-weight: var(--md-sys-typescale-display-medium-font-weight);
    letter-spacing: var(--md-sys-typescale-display-medium-tracking);
    line-height: var(--md-sys-typescale-display-medium-height);
    text-decoration: var(--md-sys-typescale-display-medium-text-decoration);
    text-transform: var(--md-sys-typescale-display-medium-text-transform);
}

.display-small {
    font-family: var(--md-sys-typescale-display-small-font-family-name);
    font-size: var(--md-sys-typescale-display-small-font-size);
    font-style: var(--md-sys-typescale-display-small-font-family-style);
    font-weight: var(--md-sys-typescale-display-small-font-weight);
    letter-spacing: var(--md-sys-typescale-display-small-tracking);
    line-height: var(--md-sys-typescale-display-small-height);
    text-decoration: var(--md-sys-typescale-display-small-text-decoration);
    text-transform: var(--md-sys-typescale-display-small-text-transform);
}

.headline-large {
    font-family: var(--md-sys-typescale-headline-large-font-family-name);
    font-size: var(--md-sys-typescale-headline-large-font-size);
    font-style: var(--md-sys-typescale-headline-large-font-family-style);
    font-weight: var(--md-sys-typescale-headline-large-font-weight);
    letter-spacing: var(--md-sys-typescale-headline-large-tracking);
    line-height: var(--md-sys-typescale-headline-large-height);
    text-decoration: var(--md-sys-typescale-headline-large-text-decoration);
    text-transform: var(--md-sys-typescale-headline-large-text-transform);
}

.headline-medium {
    font-family: var(--md-sys-typescale-headline-medium-font-family-name);
    font-size: var(--md-sys-typescale-headline-medium-font-size);
    font-style: var(--md-sys-typescale-headline-medium-font-family-style);
    font-weight: var(--md-sys-typescale-headline-medium-font-weight);
    letter-spacing: var(--md-sys-typescale-headline-medium-tracking);
    line-height: var(--md-sys-typescale-headline-medium-height);
    text-decoration: var(--md-sys-typescale-headline-medium-text-decoration);
    text-transform: var(--md-sys-typescale-headline-medium-text-transform);
}

.headline-small {
    font-family: var(--md-sys-typescale-headline-small-font-family-name);
    font-size: var(--md-sys-typescale-headline-small-font-size);
    font-style: var(--md-sys-typescale-headline-small-font-family-style);
    font-weight: var(--md-sys-typescale-headline-small-font-weight);
    letter-spacing: var(--md-sys-typescale-headline-small-tracking);
    line-height: var(--md-sys-typescale-headline-small-height);
    text-decoration: var(--md-sys-typescale-headline-small-text-decoration);
    text-transform: var(--md-sys-typescale-headline-small-text-transform);
}

.body-large {
    font-family: var(--md-sys-typescale-body-large-font-family-name);
    font-size: var(--md-sys-typescale-body-large-font-size);
    font-style: var(--md-sys-typescale-body-large-font-family-style);
    font-weight: var(--md-sys-typescale-body-large-font-weight);
    letter-spacing: var(--md-sys-typescale-body-large-tracking);
    line-height: var(--md-sys-typescale-body-large-height);
    text-decoration: var(--md-sys-typescale-body-large-text-decoration);
    text-transform: var(--md-sys-typescale-body-large-text-transform);
}

.body-medium {
    font-family: var(--md-sys-typescale-body-medium-font-family-name);
    font-size: var(--md-sys-typescale-body-medium-font-size);
    font-style: var(--md-sys-typescale-body-medium-font-family-style);
    font-weight: var(--md-sys-typescale-body-medium-font-weight);
    letter-spacing: var(--md-sys-typescale-body-medium-tracking);
    line-height: var(--md-sys-typescale-body-medium-height);
    text-decoration: var(--md-sys-typescale-body-medium-text-decoration);
    text-transform: var(--md-sys-typescale-body-medium-text-transform);
}

.body-small {
    font-family: var(--md-sys-typescale-body-small-font-family-name);
    font-size: var(--md-sys-typescale-body-small-font-size);
    font-style: var(--md-sys-typescale-body-small-font-family-style);
    font-weight: var(--md-sys-typescale-body-small-font-weight);
    letter-spacing: var(--md-sys-typescale-body-small-tracking);
    line-height: var(--md-sys-typescale-body-small-height);
    text-decoration: var(--md-sys-typescale-body-small-text-decoration);
    text-transform: var(--md-sys-typescale-body-small-text-transform);
}

.label-large {
    font-family: var(--md-sys-typescale-label-large-font-family-name);
    font-size: var(--md-sys-typescale-label-large-font-size);
    font-style: var(--md-sys-typescale-label-large-font-family-style);
    font-weight: var(--md-sys-typescale-label-large-font-weight);
    letter-spacing: var(--md-sys-typescale-label-large-tracking);
    line-height: var(--md-sys-typescale-label-large-height);
    text-decoration: var(--md-sys-typescale-label-large-text-decoration);
    text-transform: var(--md-sys-typescale-label-large-text-transform);
}

.label-medium {
    font-family: var(--md-sys-typescale-label-medium-font-family-name);
    font-size: var(--md-sys-typescale-label-medium-font-size);
    font-style: var(--md-sys-typescale-label-medium-font-family-style);
    font-weight: var(--md-sys-typescale-label-medium-font-weight);
    letter-spacing: var(--md-sys-typescale-label-medium-tracking);
    line-height: var(--md-sys-typescale-label-medium-height);
    text-decoration: var(--md-sys-typescale-label-medium-text-decoration);
    text-transform: var(--md-sys-typescale-label-medium-text-transform);
}

.label-small {
    font-family: var(--md-sys-typescale-label-small-font-family-name);
    font-size: var(--md-sys-typescale-label-small-font-size);
    font-style: var(--md-sys-typescale-label-small-font-family-style);
    font-weight: var(--md-sys-typescale-label-small-font-weight);
    letter-spacing: var(--md-sys-typescale-label-small-tracking);
    line-height: var(--md-sys-typescale-label-small-height);
    text-decoration: var(--md-sys-typescale-label-small-text-decoration);
    text-transform: var(--md-sys-typescale-label-small-text-transform);
}

.title-large {
    font-family: var(--md-sys-typescale-title-large-font-family-name);
    font-size: var(--md-sys-typescale-title-large-font-size);
    font-style: var(--md-sys-typescale-title-large-font-family-style);
    font-weight: var(--md-sys-typescale-title-large-font-weight);
    letter-spacing: var(--md-sys-typescale-title-large-tracking);
    line-height: var(--md-sys-typescale-title-large-height);
    text-decoration: var(--md-sys-typescale-title-large-text-decoration);
    text-transform: var(--md-sys-typescale-title-large-text-transform);
}

.title-medium {
    font-family: var(--md-sys-typescale-title-medium-font-family-name);
    font-size: var(--md-sys-typescale-title-medium-font-size);
    font-style: var(--md-sys-typescale-title-medium-font-family-style);
    font-weight: var(--md-sys-typescale-title-medium-font-weight);
    letter-spacing: var(--md-sys-typescale-title-medium-tracking);
    line-height: var(--md-sys-typescale-title-medium-height);
    text-decoration: var(--md-sys-typescale-title-medium-text-decoration);
    text-transform: var(--md-sys-typescale-title-medium-text-transform);
}

.title-small {
    font-family: var(--md-sys-typescale-title-small-font-family-name);
    font-size: var(--md-sys-typescale-title-small-font-size);
    font-style: var(--md-sys-typescale-title-small-font-family-style);
    font-weight: var(--md-sys-typescale-title-small-font-weight);
    letter-spacing: var(--md-sys-typescale-title-small-tracking);
    line-height: var(--md-sys-typescale-title-small-height);
    text-decoration: var(--md-sys-typescale-title-small-text-decoration);
    text-transform: var(--md-sys-typescale-title-small-text-transform);
}
