<page_header>
	<table $body_table_params$>
	<!-- Intestazione fornitore -->
	<tr><td style="width:105mm; font-size:8pt; color:#555;">
		<img src="$docroot$/templates/fatture_accompagnatorie/logo_azienda.jpg" alt="Logo" border="0" /><br/>
		$f_ragionesociale$
		$f_indirizzo$
		$f_citta_full$
		$f_piva$
		$f_codicefiscale$
		$f_capsoc$
		$f_telefono$
		$f_sitoweb$
		$f_email$
	</td></tr>
	</table><br/>

	<!-- Intestazione cliente -->
	<table $body_table_params$>
	<tr><td style="width:97mm; border:1px solid #777;" valign="top">
		<small><b>CLIENTE</b></small><br/>
		<div style="padding: 4px 20px 20px 20px;">
			$c_ragionesociale$
			$c_indirizzo$
			$c_citta$
			$c_piva$
			$c_codicefiscale$
		</div>
	</td>

	<td valign="top" style="width:96mm; border:1px solid #777;">
		<small><b>DESTINAZIONE</b></small><br/>
		<div style="padding: 4px 20px 20px 20px;">
			$c_destinazione$
		</div>
	</td></tr>

	</table>
	<br/>
</page_header>


<!-- Footer -->
<page_footer>
	|footer|
	<table border="0" style="width:200mm; font-size:7pt; color:#999; border: 0px solid red;">
	<tr><td style="text-align:center;">
		$dicitura_fissa_fattura$
	</td></tr>
    </table>

    <br>

    $default_footer$
</page_footer>
