<page_header>

	<table $body_table_params$>
	<tr>
		<td style="width:90mm; font-size:8pt;text-align:left;color:#555;">
			<img src="$docroot$/templates/preventivi/logo_azienda.jpg" alt="Logo" border="0" />
		</td>
		<td style="width:45mm; font-size:8pt; color:#555;" style="font-size:8pt;text-align:left;color:#555;">
			$f_ragionesociale$
			$f_indirizzo$
			$f_citta_full$
			$f_piva$
			$f_codicefiscale$
			$f_capsoc$
			$f_telefono$
			$f_sitoweb$
			$f_email$
		</td>

	</tr>
	</table>

</page_header>
