<page_header>

	<table $body_table_params$>
	<tr>
		<td style="width:90mm; font-size:8pt;text-align:left;color:#555;">
			<img src="$docroot$/templates/preventivi/logo_azienda.jpg" alt="Logo" border="0" />
		</td>
		<td style="width:45mm; font-size:8pt; color:#555;" style="font-size:8pt;text-align:left;color:#555;">
			$f_ragionesociale$
			$f_indirizzo$
			$f_citta$
			$f_piva$
			$f_codicefiscale$
			$f_capsoc$
			$f_telefono$
			$f_sitoweb$
			$f_email$
		</td>

	</tr>
	</table>

</page_header>


<!-- Footer -->
<page_footer>
	
	<table style="width:200mm; font-size:7pt; color:#999;">
	<tr><td style="width:100mm;">
		Stampato con OpenSTAManager
	</td>
	<td style="width:100mm; text-align:right;">
		Pagina [[page_cu]] di [[page_nb]]
	</td></tr>
	</table>
</page_footer>
