<style>
<!--
.table_values td{
	padding: 4px;
	white-space: normal;
}

.table_values th{
	background: #ddd;
	padding: 3px;
}

.first_cell{
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

.table_cell{
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.full_cell1{
	border: 1px solid #aaa;
}

.full_cell{
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

.center{
	text-align: center;
}

.b-right{ border-right:1px solid #aaa; }
.b-left{ border-left:1px solid #aaa; }
.b-top{ border-top:1px solid #aaa; }
.b-bottom{ border-bottom:1px solid #aaa; }

.cell-padded{
	padding: 4px;
}
#contents td{
	font-size: 11px;
}
-->
</style>

<page backimg="$docroot$/templates/ddt/$img_sfondo$" backtop="90mm" backbottom="75mm" backleft="3mm" backright="5mm" footer="" style="font-size: $font_size$">
	$body$
</page>
